In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_csv("IMDB Dataset.csv")

In [4]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [5]:
# tf-idf
vectorizer = TfidfVectorizer()
x = vectorizer.fit_transform(df["review"])

In [7]:
# kelime kumesi
feature_names = vectorizer.get_feature_names_out()
tfidf_score = x.mean(axis= 0).A1 # ortlamaa tf-idf degeri

In [8]:
df_tfidf = pd.DataFrame ({"word": feature_names, "tfidf_score": tfidf_score})

In [9]:
df_tfidf_sorted = df_tfidf.sort_values(by = "tfidf_score", ascending = False)

In [10]:
print(df_tfidf_sorted)

               word   tfidf_score
90160           the  1.695996e-01
4541            and  8.568395e-02
12041            br  7.690879e-02
63757            of  7.620860e-02
91217            to  7.179496e-02
...             ...           ...
93270   turnbuckles  3.163695e-07
87550   superkicked  3.163695e-07
87647     suplexing  3.163695e-07
43660  hurracanrana  3.163695e-07
36198        ganged  3.163695e-07

[101895 rows x 2 columns]